profiles {
   batch {
    params.reads = 's3://rnaseq-nf/data/ggal/lung_{1,2}.fq'
    params.transcriptome = 's3://rnaseq-nf/data/ggal/transcript.fa'
    process.container = 'quay.io/nextflow/rnaseq-nf:v1.2'
    process.executor = 'awsbatch'
    process.queue = 'my-nextflow-queue'
    workDir = 's3://my-nextflow-bucket/work'
    aws.region = 'us-east-2'
    fusion.enabled = true
    wave.enabled = true
  }
}
